extends layout

block content
	h1= title
	p Welcome to #{title}

	table
		caption Ice
		thead
			tr
				th Item
				th Preis
				th Menge
				th Gesamt
		tbody
			tr
				th Clear Icicle
				th 210.000
				th
				th

